.card{
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-content: center;
   align-items: center;
}
.products{
 display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.addToCart{
    background-color: rgb(255,174,66);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
   
}
.btn{
    display: flex;
    margin-bottom: 20px;
     justify-content: center;
}
.fimage{
    margin: 10px;
}
.cardContent{
    max-height: 550px;
}